.new-tweet {
  display: none;
  background-color: $body-bg-color;
  margin: 2em;
  border-radius: 10px ;
  border: 1px solid $tweet-color;
  text-align: center;

  h2 {
    text-align: left;
    border-bottom: 1px solid black;
    margin: .25em .5em;
  }

  form {
    margin: .25em .5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    textarea {
      flex: 0 0 100%;
      resize: none;
      padding: 4px;
    }

    input, span.counter {
      margin-top: 10px;
    }
  }
}







