nav#nav-bar {
  position: fixed;
  height: 80px;
  width: 100vw;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0px 2em;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

#nav-bar #main-header {
  display: flex;
  align-items: center;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  flex: 0 0 5%;
}

#nav-bar .header{
  flex: 0 0 10%;
  text-align: center;
  font-size: 2em;
  line-height: 2.5em;
}

#nav-bar #compose {
  font-size: 1.4em;
  height: 80%;
  padding: 1em;
  border-radius: 10px;
  margin-top: 10px;
}


#nav-bar #compose:hover {
  background-color: #eee ;
  color: #00a087;
}